// container
.container {
    max-width: 1160px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        padding: 0 15px;
    }
}

.title {
    font-family: var(--ff-100);
    color: var(--clr-primary-100);
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: clamp(32px, 5vw, 54px);
    line-height: 1.16em;
}