:root {
    --clr-100: rgb(70, 23, 255);
    --clr-200: rgb(255, 57, 57);
    
    --clr-accent-100: rgb(186, 44, 131);

    --clr-primary-100: rgb(255, 255, 255);

    --clr-opaque-100: rgba(255, 255, 255, 0.22);
    --clr-opaque-200: rgba(37, 11, 108, 0.3);

    --ff-100: 'Raleway', sans-serif;
    --ff-200: 'Inter', sans-serif;
}